<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Paises</span>
    <span class="badge badge-secondary badge-pill">3</span>
</h4>
<table class="table">
	<thead>
    	<tr>
      		<th scope="col">Nombre</th>
      		<th scope="col">Region</th>
      		<th scope="col">Foto</th>
    	</tr>
  	</thead>
  	<tbody>
    	<tr *ngFor="let pais of listadoPaises"
    		(click)="paisSelec(pais)"
    	>
      		<td >{{pais.name}}</td>
      		<td >{{pais.region}}</td>
      		<td >
      			<img [src]="pais.flag" style="width: 50px; height: 50px;">
      		</td>
      		
      			<!-- <button type="button" class="btn btn-primary" (click)="guardar(usuario)">Selecccionar</button> -->
      		
    	</tr>
    </tbody>
</table>
